<div th:fragment="content">
    <div class="topbar"><h4 th:text="${titulo}"></h4><a th:href="@{/web/recetas/nuevo}" class="btn btn-success btn-sm">+ Nueva</a></div>
    <div th:if="${exito}" class="alert alert-success py-2" th:text="${exito}"></div>
    <div class="table-card"><table class="table table-hover">
        <thead><tr><th>Código</th><th>Nombre</th><th>Prep (min)</th><th>Temp (°C)</th><th>Alérgenos</th></tr></thead>
        <tbody><tr th:each="r : ${recetas}"><td th:text="${r.codigo}"></td><td th:text="${r.nombre}"></td><td th:text="${r.tiempoPreparacion}"></td><td th:text="${r.temperaturaHorneado}"></td><td th:text="${r.alergenos}"></td></tr></tbody>
    </table></div>
</div>
